which nix &>/dev/null && use nix
unset GOPATH

source ~/.config/packet/api
export CACHER_FETCH_PER_PAGE=1000
export FACILITY=ewr1
export PACKET_API_AUTH_TOKEN=$PACKET_API_AUTH_TOKEN_RW
export PACKET_API_URL PACKET_CONSUMER_TOKEN
